@import "./../../scss/_vendor-prefixes.scss";
@import "./../../scss/mixin.scss";
@import "./../../scss/_ceaser-easing.sass";
@import "./../../scss/ceaser-easing/_easing-vars.sass";

w-experience {
    display: block;

    overflow: scroll;
    width: 90%;
    height: 100%;
    top: 0;
    right: 0;
    transition: all 1.2s ceaser($easeOutCubic);
    
    &.off {
        right: -75%;
    }
    
    ul {
        list-style: none;
        width: 85%;
    }
    
    li {
        background-color: #fff;
        border-radius: 1px;
        box-shadow: 2px 2px 5px #999;
        padding: 8px 16px;
        margin: 24px 0;
        overflow: hidden;
        
        & > div {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        
        h2, p {
            margin: 0;
        }
    }

    pre code {
        background: #f8f8f8 !important;
        border-radius: 5px;
    }
}

.expl-transition {
    transition: all .4s ceaser($easeOutCubic);
    margin-top: 0;
    opacity: 1;
}

.expl-leave {
    margin-top: -100px;
    opacity: 0;
}
